

.jumbotron {
	background-image: url("../images/retina_wood.png");
	text-align: center;
	height: 100vh;
}

.page-header{
	margin-top: -50px;
	color: #78909C;
}

#instructions{
	font-size: 16px;
	text-align: left;
	margin-left: 20px;
}

.numberbox{
	height: 100px;
	border: 2px groove #455A64;
	z-index: 10000;
	background-image: url("../images/background.png");
}

.winbox {
	height: 100px;
	width: 150px;
	border: 2px groove #455A64;
	text-align: left;
	background-image: url("../images/background.png");
}

.winbox p {
	margin-top: 15px;
	margin-bottom: -30px;
}

#random_number, #total_score{
	margin-top: 30px;
}