

.jumbotron {
	background-image: url("../images/retina_wood.png");
	text-align: center;
	height: 100vh;
}

.page-header{
	margin-top: -50px;
	color: red;
}

#instructions{
	font-size: 16px;
	text-align: left;
	margin-left: 20px;
}

.numberbox{
	height: 100px;
	border: 2px groove red;
	z-index: 10000;
	background-color: lightgrey;
}
.winbox {
	height: 100px;
	border: 2px groove red;
	text-align: left;
	background-color: teal;
}

#random_number, #total_score{
	margin-top: 30px;
}